.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  overflow: auto;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
